@{
    ViewBag.Title = "Klasik Commodore 64 Oyunları";
}

<div class="jumbotron">
    <h1>Commodore 64 Oyunları</h1>
    <p>
        Seksenlerin en çok tercih edilen oyun konsollarından birisi olan Commoder 64 ile hoşça vakit geçirdiğimiz sayısız oyuna ait bilgileri burada bulabilirsiniz.
    </p>
</div>